WebContent/WEB-INF/WSDLs/ContoCorrenteWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ContoCorrenteWSService" targetNamespace="http://service/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service/" elementFormDefault="unqualified" targetNamespace="http://service/" version="1.0">

  <xs:element name="find" type="tns:find"/>

  <xs:element name="findAll" type="tns:findAll"/>

  <xs:element name="findAllResponse" type="tns:findAllResponse"/>

  <xs:element name="findById" type="tns:findById"/>

  <xs:element name="findByIdResponse" type="tns:findByIdResponse"/>

  <xs:element name="findResponse" type="tns:findResponse"/>

  <xs:element name="insert" type="tns:insert"/>

  <xs:element name="insertResponse" type="tns:insertResponse"/>

  <xs:element name="remove" type="tns:remove"/>

  <xs:element name="removeResponse" type="tns:removeResponse"/>

  <xs:element name="update" type="tns:update"/>

  <xs:element name="updateResponse" type="tns:updateResponse"/>

  <xs:complexType name="findById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:responseContoCorrente"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseContoCorrente">
    <xs:complexContent>
      <xs:extension base="tns:response">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="contoCorrente" nillable="true" type="tns:contoCorrente"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="response">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element name="errorCode" type="xs:int"/>
      <xs:element name="successo" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contoCorrente">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataCreazione" type="xs:string"/>
      <xs:element name="iban" type="xs:int"/>
      <xs:element name="idCliente" type="xs:int"/>
      <xs:element name="saldo" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="find">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:ricercaDb"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ricercaDb">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="xs:string"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:responseContoCorrente"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="remove">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:contoCorrente"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:response"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAll">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAllResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:responseContoCorrente"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insert">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:contoCorrente"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:response"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="update">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:contoCorrente"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:response"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="findById">
    <wsdl:part element="tns:findById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByIdResponse">
    <wsdl:part element="tns:findByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="find">
    <wsdl:part element="tns:find" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="remove">
    <wsdl:part element="tns:remove" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertResponse">
    <wsdl:part element="tns:insertResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part element="tns:updateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAll">
    <wsdl:part element="tns:findAll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllResponse">
    <wsdl:part element="tns:findAllResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findResponse">
    <wsdl:part element="tns:findResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insert">
    <wsdl:part element="tns:insert" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part element="tns:update" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeResponse">
    <wsdl:part element="tns:removeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ContoCorrenteWS">
    <wsdl:operation name="findById">
      <wsdl:input message="tns:findById" name="findById">
    </wsdl:input>
      <wsdl:output message="tns:findByIdResponse" name="findByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input message="tns:find" name="find">
    </wsdl:input>
      <wsdl:output message="tns:findResponse" name="findResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remove">
      <wsdl:input message="tns:remove" name="remove">
    </wsdl:input>
      <wsdl:output message="tns:removeResponse" name="removeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <wsdl:input message="tns:findAll" name="findAll">
    </wsdl:input>
      <wsdl:output message="tns:findAllResponse" name="findAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <wsdl:input message="tns:insert" name="insert">
    </wsdl:input>
      <wsdl:output message="tns:insertResponse" name="insertResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:update" name="update">
    </wsdl:input>
      <wsdl:output message="tns:updateResponse" name="updateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContoCorrenteWSServiceSoapBinding" type="tns:ContoCorrenteWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="find">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remove">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="remove">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAll">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insert">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="update">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContoCorrenteWSService">
    <wsdl:port binding="tns:ContoCorrenteWSServiceSoapBinding" name="ContoCorrenteWSPort">
      <soap:address location="http://localhost:8080/EWalletBiblioteca/ContoCorrenteWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>